audio/*.TXT
image/*.TXT

dist
dist-types
output
node_modules
package-lock.json
.turbo
README.md
ehthumbs.db
Thumbs.db
desktop.ini
*.zip
*.txt
*.pdf

# IDE
.idea
.vscode

# macOS
._*
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?

# Windows
ehthumbs.db
Thumbs.db

# electron
app
app.html
/main.js
Home
noname.ico
# localStorage.json
